<% campus = defined?(presenter.campus) ? presenter.campus.first : "" %>

<div class="csu-campus-info">
  <div class="csu-campus-logo">

    <% if campus == "Bakersfield" %>
      <%= link_to image_tag("logos/bakersfield.png", alt: "California State University, Bakersfield"), "#" %>
    <% elsif campus == "Channel Islands" %>
      <%= link_to image_tag("logos/channel.png", alt: "California State University, Channel Islands"), "#" %>
    <% elsif campus == "Chico" %>
      <%= link_to image_tag("logos/chico.png", alt: "California State University, Chico"), "#" %>
    <% elsif campus == "Dominguez Hills" %>
      <%= link_to image_tag("logos/dominguez.png", alt: "California State University, Dominguez Hills"), "#" %>
    <% elsif campus == "East Bay" %>
      <%= link_to image_tag("logos/eastbay.png", alt: "California State University, East Bay"), "#" %>
    <% elsif campus == "Fresno" %>
      <%= link_to image_tag("logos/fresno.png", alt: "California State University, Fresno"), "https://library.fresnostate.edu/find/digital-repository" %>
    <% elsif campus == "Fullerton" %>
      <%= link_to image_tag("logos/fullerton.png", alt: "California State University, Fullerton"), "#" %>
    <% elsif campus == "Humboldt" %>
      <%= link_to image_tag("logos/humboldt.png", alt: "Humboldt State University"), "#" %>
    <% elsif campus == "Long Beach" %>
      <%= link_to image_tag("logos/longbeach.png", alt: "California State University, Long Beach"), "#" %>
    <% elsif campus == "Los Angeles" %>
      <%= link_to image_tag("logos/losangeles.png", alt: "California State University, Los Angeles"), "#" %>
    <% elsif campus == "Maritime" %>
      <%= link_to image_tag("logos/maritime.png", alt: "California State University Maritime Academy"), "#" %>
    <% elsif campus == "Moss Landing" %>
      <%= link_to image_tag("logos/mlml.png", alt: "Moss Landing Marine Labratory"), "#" %>
    <% elsif campus == "Northridge" %>
      <%= link_to image_tag("logos/northridge.png", alt: "California State University, Northridge"), "#" %>
    <% elsif campus == "Pomona" %>
      <%= link_to image_tag("logos/pomona.png", alt: "California State Polytechnic University, Pomona"), "#" %>
    <% elsif campus == "Sacramento" %>
      <%= link_to image_tag("logos/sacramento.png", alt: "California State University, Sacramento"), "#" %>
    <% elsif campus == "San Francisco" %>
      <%= link_to image_tag("logos/sanfrancisco.png", alt: "San Francisco State University"), "#" %>
    <% elsif campus == "San Marcos" %>
      <%= link_to image_tag("logos/sanmarcos.png", alt: "California State University, San Marcos"), "https://biblio.csusm.edu/guides/scholarly-communication#tab-1-5" %>
    <% elsif campus == "Sonoma" %>
      <%= link_to image_tag("logos/sonoma.png", alt: "Sonoma State University"), "https://library.sonoma.edu/research/scholarworks" %>
    <% elsif campus == "Stanislaus" %>
      <%= link_to image_tag("logos/stanislaus.png", alt: "California State University, Stanislaus"), "#" %>
    <% end %>

  </div>
</div>
